<html>
<title>CoInfo</title>
<meta charset="UTF-8">
<head>
  <link rel="icon" href="https://freepngimg.com/download/virus/4-2-virus-png-picture.png" type="image/x-icon">
<meta name="description" content="All informtion you need to know about CORONAVIRUS PANDEMIC (COVID-19), find out More here." /> 


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  width: 100%;
  color: #777;
  line-height: 1.8;
}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle       Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="{%url 'index'%}#home" class="w3-bar-item w3-button w3-hover-green">HOME</a>
    <a href="{%url 'index'%}#about" class="w3-bar-item w3-button"><i class="fa fa-address-card"></i> ABOUT</a>
    <a href="{%url 'index'%}#covid-19" class="w3-bar-item w3-button"><i class="fa fa-th"></i> COVID-19</a>
    <a href="{%url 'index'%}#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
    <a href="https://www.mohfw.gov.in/pdf/AAROGYASETUIVRS1921.pdf" class="w3-bar-item w3-button w3-hide-small w3-hover-red">Aarogya Setu IVRS <i class="fa fa-phone" aria-hidden="true"></i> 1921</a>
    <a href="https://www.mygov.in/covid-19/?cbps=1&target=webview&type=campaign&nid=0" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red"><i class="fa fa-search"></i> COVID-19</a>
    <a href="https://www.icmr.gov.in/ctestlab.html" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red" onclick="toggleFunction()">TESTING LABS</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="{%url 'index'%}#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
    <a href="{%url 'index'%}#covid-19" class="w3-bar-item w3-button" onclick="toggleFunction()">COVID-19</a>
    <a href="{%url 'index'%}#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
    <a href="https://www.mygov.in/covid-19/?cbps=1&target=webview&type=campaign&nid=0" class="w3-bar-item w3-button">Aarogya Setu IVRS</a>
  </div>
</div>


<br><marquee behavior="scroll" direction="left"><p style="color:black">**Source of data: The Indian council of medical research and Worldometer** 
Helpline Number :+91-11-23978046, Toll Free : 1075, Helpline Email ID :<a href="ncov2019@gov.in">ncov2019@gov.in (This website is project based assessment, not for commercial use)</a> </p></marquee>



{% block body_ %} 

{%endblock%}







<script src="https://chat.amplify.ai/plugin/5e844c8225fa4f415700f107/chat_plugin.js?pluginId=5e844c8225fa4f415700f107"></script>

<!-- Footer -->

<footer class="w3-center w3-black w3-padding-64 w3-hover-opacity-off">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">

    <a href="https://www.facebook.com/arjun07s" ><i class="fa fa-facebook-official w3-hover-opacity"></i></a>	
    <a href="https://www.instagram.com/arjun_07s/" ><i class="fa fa-instagram w3-hover-opacity"></i></a>	
    <a href="https://www.snapchat.com/add/arjun_07s" ><i class="fa fa-snapchat w3-hover-opacity"></i></a>	
    <a href="https://in.pinterest.com/Random_071/" ><i class="fa fa-pinterest-p w3-hover-opacity"></i></a>	
    <a href="https://twitter.com/arjun_07s" ><i class="fa fa-twitter w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/in/arjun-singh-76491a1a81" ><i class="fa fa-linkedin w3-hover-opacity"></i></a>
    

<div>
<!-- Start of WebCounter Code -->
<p>Total visitors: <img src="https://www.webfreecounter.com/hit.php?id=gmeacqkq&nd=6&style=72" border="0" alt="free counter"></p>
<!-- End of WebCounter Code -->
</div>

 </div>
<p>All <i class="fa fa-registered"></i> rights reserved: Legal information is not legal advice, 
RESPECT for the intellectual work of others has traditionally been essential to the mission of colleges and universities. 
As members of the academic community, we value the free exchange of ideas. Just as we do not tolerate plagiarism, 
we do not condone the unauthorized copying of software, including programs, applications, data bases and code. (This is a test website)
<br></i>Content owned, updated and maintained by the Coinfo. 
<p><i class="fa fa-copyright"></i>Copyright Coinfo Informatics Centre 2021, (Section 31(1)(b))</p>

<marquee><p>Last update: 27th Aug 2021 by CoInfo Informatics Centres, Indore. (Soon will be available in Android app)<p></marquee>

  </footer>


<script>
// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
</body>
</html>