{%extends "base.html"%}

    <title>Information for COVID-19 Testing Labs</title>


<div class="top-header-area"><p><h1>COINFO</h1><h3>Information for COVID-19 Testing Labs</h3></p></div>


{%block body_ %}
<div style="color: black;">
	<div><h4><strong>Sample Collection</strong></h4></div>
    						
	<div id="example_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_length" id="example_length"><label>Show <select name="example_length" aria-controls="example" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div><div id="example_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="example"></label></div><table id="example" class="cell-border dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="example_info">
  		<thead style="background-color: #FFFACD;">
    <tr role="row"><th width="5%" align="center" class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="SNo: activate to sort column descending" style="width: 28px;"><strong>SNo</strong></th><th width="15%" align="center" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 102px;"><strong>Date</strong></th><th width="70%" align="left" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Information: activate to sort column ascending" style="width: 587px;"><strong>Information</strong></th></thead>
  <tbody>
   

	
		
	
	<tr role="row" class="odd">	
      <td align="center" class="sorting_1">1</td>
	  <td align="center">26/05/2021<sup>*</sup></td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/Revised_SRF_Form_26052021_1.pdf" target="_blank">ICMR Specimen Referral Form for COVID-19 (SARS-CoV2)</a></td>
    </tr><tr role="row" class="even">
      <td align="center" class="sorting_1">2</td>
	  <td align="center">07/04/2021<sup>*</sup></td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/SRF_ID_for_COVID_06052020.pdf" target="_blank">Specimen Referral Form (SRF) ID information for COVID-19 (SARS-CoV2), in RT-PCR app</a></td>
    </tr><tr role="row" class="odd">	
      <td align="center" class="sorting_1">3</td>
	  <td align="center">07/04/2020<sup>*</sup></td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/Advisory_on_sample_collection_strategies.pdf" target="_blank">Advisory for sample collection sites</a></td>
    </tr></tbody>
	</table><div class="dataTables_info" id="example_info" role="status" aria-live="polite">Showing 1 to 3 of 3 entries</div><div class="dataTables_paginate paging_simple_numbers" id="example_paginate"></div></div>
	
	<hr>
	
	<div><h4><strong>Government Institutes / Medical Colleges COVID-19 Testing Lab Approval</strong></h4></div>
    						
	<div id="example1_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_length" id="example1_length"><label>Show <select name="example1_length" aria-controls="example1" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div><div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="example1"></label></div><table id="example1" class="cell-border dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="example1_info">
  		<thead style="background-color: #FFFACD;">	
	<tr role="row"><th width="5%" align="center" class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="SNo: activate to sort column descending" style="width: 28px;"><strong>SNo</strong></th><th width="15%" align="center" class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 102px;"><strong>Date</strong></th><th width="70%" align="left" class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Information: activate to sort column ascending" style="width: 587px;"><strong>Information</strong></th><th width="10%" align="center" class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" 
	 </thead>
  <tbody>
  
  
  
	 
	 
	 	
	
	
	<tr role="row" class="odd">	
      <td align="center" class="sorting_1">1</td>
	  <td align="center">25/06/2020</td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/Govt_labs_sample_retention_advisory_25062020.pdf" target="_blank">Guidelines for storage of respiratory specimens collected for COVID-19 diagnosis by RT PCR platforms in Government laboratories</a></td>   
    </tr><tr role="row" class="even">	
      <td align="center" class="sorting_1">2</td>
	  <td align="center">22/05/2020</td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/Advisory_DBT_DST_CSIR_DAE_ICAR_DRDO_22052020.pdf" target="_blank">Advisory for the DBT, DST, CSIR, DAE, ICAR, DRDO Labs</a></td>
    </tr><tr role="row" class="odd">
	
      <td align="center" class="sorting_1">3</td>
	  <td align="center">08/04/2020</td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/Invitation_from_Govt_Pvt_Medical_College_COVID19_testingfacility.pdf" target="_blank">Applications invited from Government &amp; Private Medical Colleges for setting up COVID-19 testing facility</a></td>
      
    </tr></tbody>
	</table><div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 3 of 3 entries</div><div class="dataTables_paginate paging_simple_numbers" id="example1_paginate"></div></div>
	
	<hr>
	
	<div><h4><strong>TrueNat/ CBNAAT COVID-19 Testing Lab Approval</strong></h4></div>
    							
	<div id="example2_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_length" id="example2_length"><label>Show <select name="example2_length" aria-controls="example2" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div><div id="example2_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="example2"></label></div><table id="example2" class="cell-border dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="example2_info">
  		<thead style="background-color: #FFFACD;">
	 <tr role="row"><th width="5%" align="center" class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="SNo: activate to sort column descending" style="width: 28px;"><strong>SNo</strong></th><th width="15%" align="center" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 102px;"><strong>Date</strong></th><th width="70%" align="left" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Information: activate to sort column ascending" style="width: 587px;"><strong>Information</strong></th></thead>
 </thead>
	<tbody>
	
		
	
	
	
		
	
	
	
		
	<tr role="row" class="odd">	
      <td align="center" class="sorting_1">1</td>
	  <td align="center">15/10/2020</td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/Advisory_CBNAAT_15102020.pdf" target="_blank">Advisory for use of Cartridge Based Nucleic Acid Amplification Test (CBNAAT) </a></td>
    </tr><tr role="row" class="even">	
      <td align="center" class="sorting_1">2</td>
	  <td align="center">24/09/2020</td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/Revised_Guidelines_TrueNat_Testing_24092020.pdf" target="_blank">Revised Guidelines for TrueNat testing for COVID-19 </a></td>
    </tr><tr role="row" class="odd">	
      <td align="center" class="sorting_1">3</td>
	  <td align="center">03/07/2020</td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/Letter_regarding_expedited_TrueNat_CBNAAT.pdf" target="_blank">TRUENAT/CBNAAT expedited approval for private hospitals and private labs </a></td>
    </tr><tr role="row" class="even">	
      <td align="center" class="sorting_1">4</td>
	  <td align="center">19/04/2020</td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/Additional_guidance_on_TrueNat_based_COVID19_testing.pdf" target="_blank">Additional Guidelines for TrueNat testing for COVID-19 </a></td>
    </tr><tr role="row" class="odd">
	
      <td align="center" class="sorting_1">5</td>
	  <td align="center">14/04/2020</td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/Guidance_TrueNat_14042020.pdf" target="_blank">Revised Guidance on the use of Truenat beta CoV</a></td>
      
    </tr></tbody>
	</table><div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 5 of 5 entries</div><div class="dataTables_paginate paging_simple_numbers" id="example2_paginate"></div></div>
	
	<hr>
	
	<div><h4><strong>Private laboratories COVID-19 Testing Lab Approval</strong></h4></div>
    							
	<div id="example3_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_length" id="example3_length"><label>Show <select name="example3_length" aria-controls="example3" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div><div id="example3_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="example3"></label></div><table id="example3" class="cell-border dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="example3_info">
  		<thead style="background-color: #FFFACD;">	
	<tr role="row"><th width="5%" align="center" class="sorting_asc" tabindex="0" aria-controls="example3" rowspan="1" colspan="1" aria-sort="ascending" aria-label="SNo: activate to sort column descending" style="width: 28px;"><strong>SNo</strong></th><th width="15%" align="center" class="sorting" tabindex="0" aria-controls="example3" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 101px;"><strong>Date</strong></th><th width="70%" align="left" class="sorting" tabindex="0" aria-controls="example3" rowspan="1" colspan="1" aria-label="Information: activate to sort column ascending" style="width: 588px;"><strong>Information</strong></th><th width="10%" align="center" class="sorting" tabindex="0" aria-controls="example3" rowspan="1" colspan="1" aria-label="Download: activate to sort column ascending" style="width: 71px;"></th></tr>
</thead>
	<tbody>
	
		
	
	 
	
	

 		
	<tr role="row" class="odd">
	
      <td align="center" class="sorting_1">1</td>
	  <td align="center">11/06/2020</td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/Private_Lab_Advisory_11062020.pdf" target="_blank">Revised guidelines for positive sample storage by ICMR approved private labs that are doing COVID-19 testing by Real time RT-PCR/CB-NAAT/TrueNat</a></td>
      
    </tr><tr role="row" class="even">
	
      <td align="center" class="sorting_1">2</td>
	  <td align="center">26/03/2020<sup>*</sup></td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/Addendum_ICMR_guideline_Private_Lab.pdf" target="_blank">Addendum to ICMR guidelines for COVID-19 testing in private laboratories in India</a></td>
      <td align="center"><img src="img/core-img/application-pdf.png" alt=""> </a></td>
      
    </tr><tr role="row" class="odd">
	
      <td align="center" class="sorting_1">3</td>
	  <td align="center">21/03/2020</td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/Notification_ICMR_Guidelines_Private_Laboratories.pdf" target="_blank">Notification of ICMR guidelines for COVID-19 testing in private laboratories in India (Contact Person for private lab : Dr Neeraj Agrawal, Scientist E, Email:  aggarwal.n@icmr.gov.in)</a></td>

      
    </tr><tr role="row" class="even">
	
      <td align="center" class="sorting_1">4</td>
	  <td align="center">18/03/2020<sup>*</sup></td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/Performa_Private_Laboratories.pdf" target="_blank">Proforma for Requisite information to be submitted by private laboratories interested in COVID 19 testing</a></td>
      
    </tr></tbody>
	</table><div class="dataTables_info" id="example3_info" role="status" aria-live="polite">Showing 1 to 4 of 4 entries</div><div class="dataTables_paginate paging_simple_numbers" id="example3_paginate"></div></div>
	
	<hr>
	

	
	<div><h4><strong>Other Information for Testing Laboratories</strong></h4></div>
    						
	<div id="example5_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_length" id="example5_length"><label>Show <select name="example5_length" aria-controls="example5" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div><div id="example5_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="example5"></label></div><table id="example5" class="cell-border dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="example5_info">
  		<thead style="background-color: #FFFACD;">
	
	<tr role="row"><th width="5%" align="center" class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="SNo: activate to sort column descending" style="width: 28px;"><strong>SNo</strong></th><th width="15%" align="center" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 102px;"><strong>Date</strong></th><th width="70%" align="left" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Information: activate to sort column ascending" style="width: 587px;"><strong>Information</strong></th></thead>
</thead>
	<tbody>

	<tr role="row" class="odd">	
      <td align="center" class="sorting_1">1</td>
	  <td align="center">20/04/2021</td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/techdoc/Advisory_Dry_Swab_RNAExtraction_20042021_.pdf" target="_blank">Advisory on use of Dry Swab RNA Extraction Free RTPCR Method</a></td>

     </tr><tr role="row" class="even">	
      <td align="center" class="sorting_1">2</td>
	  <td align="center">14/01/2021</td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/QC_Lab_List_14012021.pdf" target="_blank">Inter Laboratory Quality Control (ILQC) for Molecular based Testing Laboratories for COVID-19</a></td>

    </tr><tr role="row" class="odd">	
      <td align="center" class="sorting_1">3</td>
	  <td align="center">10/11/2020</td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/ICMR_Advisory_Testing_System_v_10112020.pdf" target="_blank">Evidence based ICMR advisory on molecular testing of COVID-19: Availability of testing platforms and their recommended use</a></td>

    </tr><tr role="row" class="even">	
      <td align="center" class="sorting_1">4</td>
	  <td align="center">22/10/2020</td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/Advisory_CRISPRtest_22102020.pdf" target="_blank">Advisory on CRISPR (Clustered Regularly Interspaced Short Palindromic Repeats) technology-based SARS-COV-2 test</a></td>

    </tr><tr role="row" class="odd">	
      <td align="center" class="sorting_1">5</td>
	  <td align="center">17/07/2020</td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/Joint_Lettter_for_Enhancement_of_Testing_Capacity_Reg.pdf" target="_blank">Joint Lettter for Enhancement of Testing Capacity-Reg</a></td>
    
    </tr><tr role="row" class="even">	
      <td align="center" class="sorting_1">6</td>
	  <td align="center">16/07/2020</td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/District_wise_Rapid_antigen_testing.pdf" target="_blank">Information for District-wise login credentials for rapid antigen testing for COVID-19</a></td>

    </tr><tr role="row" class="odd">	
      <td align="center" class="sorting_1">7</td>
	  <td align="center">11/05/2020</td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/Mentor_Institutes.pdf" target="_blank">List of mentor institutes along with allocated states</a></td>

    </tr><tr role="row" class="even">
	  <td align="center" class="sorting_1">8</td>
	  <td align="center">12/04/2020</td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/Centres_of_Excellence_for_Mentoring_Medical_Colleges.pdf" target="_blank">Augmented plan to fast-track the COVID-19 testing laboratory scale-up and list of mentor institutes</a></td>

     </tr><tr role="row" class="odd">
	
      <td align="center" class="sorting_1">9</td>
	  <td align="center">01/04/2020<sup>*</sup></td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/Advisory_for_Reagents_TestingLabs_v1.pdf" target="_blank">Advisory for Procurement of Reagents for Labs doing Real Time (RT)-PCR  of Throat and Nasal Swab for diagnosis of COVID-19</a></td>

      
    </tr><tr role="row" class="even">
	
      <td align="center" class="sorting_1">10</td>
	  <td align="center">28/03/2020<sup>*</sup></td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/PCR_Machine_Location.pdf" target="_blank">List of Real Time PCR machines supplied to Government Labs</a>	</td>

      
    </tr></tbody>
	</table><div class="dataTables_info" id="example5_info" role="status" aria-live="polite">Showing 1 to 10 of 13 entries</div><div class="dataTables_paginate paging_simple_numbers" id="example5_paginate"></div></div>
	
	<hr>
	
	<div><h4><strong>SoPs</strong></h4></div>
    							
	<div id="example6_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_length" id="example6_length"><label>Show <select name="example6_length" aria-controls="example6" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div><div id="example6_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="example6"></label></div><table id="example6" class="cell-border dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="example6_info">
  		<thead style="background-color: #FFFACD;">
	 <tr role="row"><th width="5%" align="center" class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="SNo: activate to sort column descending" style="width: 28px;"><strong>SNo</strong></th><th width="15%" align="center" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 102px;"><strong>Date</strong></th><th width="70%" align="left" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Information: activate to sort column ascending" style="width: 587px;"><strong>Information</strong></th></thead>
</thead>
	<tbody>
	
	

	
	
	
	
<tr role="row" class="odd">
	
      <td align="center" class="sorting_1">1</td>
	  <td align="center">11/04/2020<sup>*</sup></td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/SARS_CoV2_using_TaqPath_COVID19_ComboKit.pdf" target="_blank">Multiplex Real-Time PCR for detection of SARS-CoV-2 using TaqPath COVID-19 Combo Kit (Applied Biosystems)</a></td>

      
    </tr><tr role="row" class="even">
	
      <td align="center" class="sorting_1">2</td>
	  <td align="center">08/03/2020<sup>*</sup></td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/1_SOP_for_First_Line_Screening_Assay_for_2019_nCoV.pdf" target="_blank">NIV Pune SoP for detection of COVID-19 in suspected human cases by rRT-PCR : First Line Screening assay</a></td>

      
    </tr><tr role="row" class="odd">
	
      <td align="center" class="sorting_1">3</td>
	  <td align="center">08/03/2020<sup>*</sup></td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/2_SOP_for_Confirmatory_Assay_for_2019_nCoV.pdf" target="_blank">NIV Pune SoP for detection of COVID-19 in suspected human cases by rRT-PCR : confirmation assay</a></td>
      
    </tr><tr role="row" class="even">
	
      <td align="center" class="sorting_1">4</td>
	  <td align="center">08/03/2020<sup>*</sup></td>
      <td align="left"><a href="https://www.icmr.gov.in/pdf/covid/labs/3_BGI_Real_time_PCR_SARS_CoV_2.pdf" target="_blank">SoP for BGI</a></td>
      
    </tr></tbody>
	</table><div class="dataTables_info" id="example6_info" role="status" aria-live="polite">Showing 1 to 4 of 4 entries</div><div class="dataTables_paginate paging_simple_numbers" id="example6_paginate"></div></div>
	<div><sup>*</sup>Date of Publishing on Website</div>
</div>                         
                     
                         
                        </div>
                    </div>
</div>
 <!-- ##### Elements Area End ##### -->

 <hr>
  <div class="col-12">
  © Copyright 2021 by COINFO. All Rights Reserved. Designed by COINFO | Last Updated: 29 September 2021
      </div>
    

    </div>


{%endblock%}